@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

}
.ant-table-content{
  overflow: auto !important;
}
.hidden{
  display: none !important;
}
ul{
  list-style: none;
}

.container{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;

}
/*============HEADER==============*/
header, footer{
  margin: 0 auto;
  background-color: #dee2e6;
}

.navbar-item a{
  font-weight: 900;
  font-size: 18px;
  color: #c5b679;
}
.navbar-item a:hover{
  border-bottom: 3px solid #c5b679;
  transition: ease-in 0.3s;
}
.cart-container a, .login-container p{
  font-weight: 700;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container p{
  position: absolute;
  z-index: 2;
  color: red;
  font-size: 20px;
  font-weight: 700;
  top: 0;
  left: 0;
}
nav ul{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}
.logo-img{
  max-width: 100px;
  width: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: black;
}
.search-container{
  width: 100%;
  max-width: 30rem;
}
.search-bar{
  width: 100%;
  padding: 5px 10px;
  border-radius: 2rem;
  border: none;
}
.search-bar:hover{
  border: 1px solid #c5b679;
}
.search-bar:active{
  border: 1px solid #c5b679;
}
/*===========SELLER DASHBOARD=============*/
.seller-info .ant-modal{
  max-width: 600px !important;
}
.seller-info{
  min-height: 70vh;
}
.seller-options-wrapper{
  background-color: #c5b679;

}
.seller-content-wrapper{
  min-height: 70vh;
}
.seller-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ece8d4;
  font-weight: bolder;
}
.seller-content-wrapper{
  background-color: #ece8d4;
}
.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.product-card{
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #c5b679;
  border-radius: 10px;
  padding: 20px;
  background-color: #dee2e6;
  box-shadow: 0 0 5px #c5b679;
}
.product-card span{
  align-self: flex-end;
}
.product-card span svg{
  font-size: 20px;
}
.product-card img{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c5b679;
  box-shadow: 0 0 5px #c5b679;
}
.order-img{
  max-width: 100px;
}

/*==========KRAFTERI===============*/

/*================LOGIN================*/
.login-card{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #c5b679;
  margin-top: 60px;
  padding: 40px;
  padding-top: 70px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.8);
}
.login-bg{
  background-image: url("https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

/*=============PROFILE===============*/
.font-bolder{
  font-weight: 900;
}
.text{
  margin-right: 20px;
}
.side-profile-info{
  display: flex;
  justify-content: space-between;
}
.profile-img-container{
  display: flex;
  align-items: center;

}
.main-profile-info{
  display: flex;
  justify-content: space-between;

}
.profile-content p{
  font-size: 24px;
}
.main-profile-info h2{
  display: flex;
  align-items: center; 
  font-size: 36px;
}
.side-profile-info-text{
  margin-top: 20px;
  color: #dee2e6;
}


/*==========FOOTER=============*/

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-content p{
  color: #c5b679;
  font-weight: 700;
}




@media (max-width: 1200px){
  .products{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px){
  .profile-img-container{
   /* flex-direction: column;*/
  }
  .profile-img-container img{
    max-width: 200px !important;
  }
}

@media (max-width: 850px){
  .products{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px){
  .profile-img-container{
   /* flex-direction: column;*/
  }
  .profile-img-container img{
    max-width: 150px !important;
  }
}

@media (max-width: 550px){
  .products {
    grid-template-columns: repeat(1, 0.8fr);
    justify-content: center;
  }
}




